* {
    margin: 0;
    padding: 0;
}

.App {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.board {
    width: calc(64px * 8);
    height: calc(64px * 8);
    display: flex;
    flex-wrap: wrap;
}

.cell {
    width: 64px;
    height: 64px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.black {
    background-color: #3da2c7;
}

.white {
    background-color: #f2cb77;
}

.figure {
    width: 55px;
    height: 55px;
    position: relative;
}

.selected {
    background: rgba(213, 59, 59, 0.82);
}

.available {
    height: 16px;
    width: 16px;
    border-radius: 50%;
    background-color: #4acb12;
}
